.pag02{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    &__tittle{
        width: 48%;
    }
    &__img{
        width: 48%;
        img{
            border-radius: 20px;
            width: 100%;
        }
    }
}