@charset "utf-8";

$cor1: #0D0D0D;
$cor2: red;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

@media screen and (max-width:540px) {
    body{
        background-color: #0D0D0D;
    }
    header{
        .nome_menu{
            display: flex;
            align-items: center;
            h1{
                color: red;
            }
            .uil-bars{
                color: red;
                font-size: 2em;
            }
            ul{
                border: 2px solid red;
                background-color: black;
                a{
                    color: red;
                }
            }
        }
    }
    main{
        .pag01{
            color: white;
            .imgg{
                margin: 30px auto;
                max-width: 300px;
                border: 2px solid red;
                border-radius: 50%;
                overflow: hidden;
            }
            p{
                text-align: justify;
            }
            .redes{
                display: flex;
                i{
                    color: red;
                    padding: 5px;
                    font-size: 2em;
                }
            }
            .texto{
                margin: auto;
                padding: 0 30px;
                button{
                    background-color: #0D0D0D;
                    color: red;
                    border: 3px solid red;
                    padding: 8px;
                    border-radius: 50px;
                }
            }
        }
    }
}

