*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

aside{
    border-right: 1px solid black;
    height: 100vh;
}

.todos{
    header{
        .usuario{
            img{
                width: 50px;
                clip-path: circle();
            }
        }
    }
    .principal{
        .container-carousel{
            .carousel.slide{
                padding: 0px 0px;
                height: 60vh;
                border-radius: 50px;
                .carousel-inner{
                    .carousel-item{
                        overflow: hidden;
                        img{
                            height: 60vh;
                        }
                    }
                }
            }
            .indicadores{
                .foto-texto{
                    align-items: center;
                    &:hover{
                        border-radius: 20px;
                        background-color: rgba(211, 211, 211, 0.962);
                    }
                    img{
                        border-radius: 16px;
                        padding: 5px;
                    }
                    p{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

