@font-face {
  font-family: 'Avenir-Bold';
  src: url(/dev/assets/Avenir-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'Avenir-Regular';
  src: url(/dev/assets/Avenir-Regular.woff2);
  font-weight: 400;
}
.hero {
  padding: 5.6vw;
  min-height: 80vh;
  background: url("../images/hero_desktop.jpeg") no-repeat center;
  background-size: cover;
  text-align: center;
}
@media (max-width: 768px) {
  .hero {
    background: url(../images/hero_celular.jpeg);
    padding-top: calc(50vw + 55px);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -55px;
  }
}
.hero__content {
  max-width: 640px;
}
.hero__content__branding {
  max-width: 320px;
  margin: 0 auto 38px;
}
@media (max-width: 768px) {
  .hero__content__branding {
    max-width: 180px;
  }
}
.hero__content .title-small {
  margin-bottom: 64px;
}
.hero__content p {
  margin-bottom: 20px;
}
.hero__content p:last-child {
  margin-top: 60px;
}
.hero__content__combos {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .hero__content__combos {
    flex-direction: column;
  }
}
.hero__content__combos__combo {
  list-style: none;
  width: calc(50% - 12px);
}
@media (max-width: 768px) {
  .hero__content__combos__combo {
    width: 100%;
    margin-bottom: 24px;
  }
}
.hero__content__combos__combo img {
  max-height: 60px;
}
.hero__content__combos__combo button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: #f9f9f9;
  background-color: #6421ff;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 14px;
  border: 1px solid #6421ff;
  margin-top: 2vw;
  margin-bottom: 8px;
}
.hero__content__combos__combo button:hover {
  background-color: #763bff;
}
.shows {
  min-height: 50vw;
  padding: 2vw 5.6vw;
}
.shows__list {
  display: none;
  margin-top: 44px;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
@media (max-width: 768px) {
  .shows__list {
    grid-template-columns: 1fr 1fr;
  }
}
.shows__list--is-active {
  display: grid;
}
.shows__list__item img {
  max-width: 100%;
  border-radius: 4px;
}
.shows__tabs {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .shows__tabs {
    white-space: nowrap;
    overflow-x: scroll;
  }
}
.shows__tabs__button {
  color: #f9f9f9;
  font-size: 20px;
  border: none;
  padding-bottom: 5px;
  background: none;
  text-transform: uppercase;
  margin: 0 1vw;
  cursor: pointer;
  border-bottom: 5px solid transparent;
}
@media (max-width: 768px) {
  .shows__tabs__button {
    font-size: 16px;
  }
}
.shows__tabs__button--is-active {
  border-color: #f9f9f9;
}
.plans {
  padding: 5.6vw;
}
.plans h2 {
  text-align: center;
}
.plans__list {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
@media (max-width: 768px) {
  .plans__list {
    flex-direction: column;
    align-items: center;
  }
}
.plans__list__item {
  text-align: center;
  padding: 60px 44px;
  max-width: 380px;
  width: 100%;
}
.plans__list__item:nth-child(2) {
  background-image: url(/dev/images/fundo_combo_plus.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.plans__list__item img {
  height: 83px;
}
.plans__list__item strong {
  margin-top: 24px;
  display: block;
}
.plans button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: #f9f9f9;
  background-color: #6421ff;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 14px;
  border: 1px solid #6421ff;
}
.plans button:hover {
  background-color: #763bff;
}
p {
  text-align: center;
}
.watch__anywhere {
  padding: 5.6vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (max-width: 768px) {
  .watch__anywhere {
    grid-template-columns: 1fr;
  }
}
.watch__anywhere img {
  max-width: 100%;
}
.watch__anywhere__text__container {
  padding: 0 2vw;
}
.watch__anywhere__text__container h2 {
  margin-bottom: 24px;
}
.watch__anywhere__text__container p {
  text-align: justify;
}
.watch__anywhere--image-full-width {
  position: relative;
  display: block;
}
.watch__anywhere--image-full-width img {
  display: block;
  width: 100%;
}
.watch__anywhere--image-full-width__text__container {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: calc(50% - 5.6vw);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .watch__anywhere--image-full-width__text__container {
    position: relative;
    left: 0;
    width: 100%;
  }
}
.available__devices {
  padding: 5.6vw;
}
.available__devices h2 {
  text-align: center;
  margin-bottom: 24px;
}
.available__devices__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media (max-width: 768px) {
  .available__devices__list {
    grid-template-columns: 1fr 1fr;
  }
}
.available__devices__list__item {
  text-align: center;
}
.available__devices__list__item img {
  max-width: 100%;
  text-align: center;
}
.available__devices__list__item h4 {
  margin-top: 20px;
  margin-bottom: 24px;
}
.available__devices__list__item ul {
  list-style: none;
}
.faq {
  padding: 5.6vw;
}
.faq h2 {
  text-align: center;
  margin-bottom: 24px;
}
.faq__questions {
  list-style: none;
}
.faq__questions__item {
  background-color: #13151d;
  margin-bottom: 16px;
}
.faq__questions__item__question {
  color: white;
  font-size: 20px;
  padding: 24px;
  display: block;
  cursor: pointer;
  position: relative;
}
.faq__questions__item__question::after {
  content: '+';
  position: absolute;
  top: 0;
  right: 24px;
  height: 100%;
  display: flex;
  align-items: center;
}
.faq__questions__item__answer {
  height: 0px;
  overflow: hidden;
  padding-left: 24px;
  transition: all 0.5s ease;
}
.faq__questions__item--is-open .faq__questions__item__question::after {
  content: '-';
}
.faq__questions__item--is-open .faq__questions__item__answer {
  height: auto ;
  padding-bottom: 24px;
  transition: all 0.5s ease;
}
.footer {
  padding: 26px 8px;
}
.footer__container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
.footer__logo {
  width: 80px;
  margin: 0 auto 10px;
}
.footer__links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}
.footer__links__item {
  display: inline-block;
}
.footer__links__item a {
  text-decoration: none;
  padding: 8px 16px;
  display: block;
}
.footer__links__item a:hover {
  color: #f9f9f9;
}
.footer p {
  margin-bottom: 16px;
}
.footer .language-selector {
  display: flex;
  align-items: center;
}
.footer .language-selector img {
  height: 18px;
  width: 18px;
}
.footer .language-selector select {
  border: none;
  border-radius: 8px !important;
  background-color: transparent;
  color: silver;
}
.footer .language-selector select:hover {
  border: none;
  color: #f9f9f9;
}
.footer .language-selector select:focus {
  border: none;
}
.footer .language-selector select option {
  border: none;
  color: #040714;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #040714;
  transition: background-color 0.5s ease-in-out;
}
.header--is--hidden {
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}
.header--is--hidden .header__logo,
.header--is--hidden .header__links__item:first-child {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}
.header__container {
  padding: 8px 36px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__container {
    padding: 0 12px 0 20px;
  }
}
.header__logo {
  max-width: 80px;
  width: 100%;
  margin: 5px;
  transition: opacity 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .header__logo {
    max-width: 64px;
  }
}
.header__links {
  list-style: none;
  display: flex;
}
.header__links__item {
  margin: 5px;
  transition: opacity 0.5s ease-in-out;
}
.header__links__item a.button--secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: #f9f9f9;
  background-color: #6421ff;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 14px;
  border: 1px solid #6421ff;
  border-color: #0063e5;
  background-color: #0063e5;
  height: 50px;
}
.header__links__item a.button--secondary:hover {
  background-color: #763bff;
}
@media (max-width: 768px) {
  .header__links__item a.button--secondary {
    font-size: 13px;
    padding: 8px 11px;
    height: 40px;
  }
}
.header__links__item a.button--secondary:hover {
  border-color: #0063e5;
  background-color: #006af4;
}
.header__links__item a.button--dark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: #f9f9f9;
  background-color: #6421ff;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 14px;
  border: 1px solid #6421ff;
  border-color: #f9f9f9;
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
}
.header__links__item a.button--dark:hover {
  background-color: #763bff;
}
@media (max-width: 768px) {
  .header__links__item a.button--dark {
    font-size: 13px;
    padding: 8px 11px;
    height: 40px;
  }
}
.header__links__item a.button--dark:hover {
  background-color: #f9f9f9;
  color: #040714;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: 'Avenir-Regular', sans-serif;
  list-style: none;
}
body {
  background-color: #040714;
}
.txt-big {
  font-size: 18px;
  line-height: 28px;
  color: silver;
}
@media (max-width: 768px) {
  .txt-big {
    font-size: 15px;
    line-height: 25px;
  }
}
.txt {
  font-size: 16px;
  line-height: 26px;
  font-family: 'Avenir-Regular';
  font-weight: 400;
  color: silver;
}
@media (max-width: 768px) {
  .txt {
    font-size: 14px;
    line-height: 24px;
  }
}
.txt-small {
  font-size: 12px;
  line-height: 22px;
  font-family: 'Avenir-Regular';
  font-weight: 400;
  color: silver;
}
@media (max-width: 768px) {
  .txt-small {
    font-size: 11px;
    line-height: 21px;
  }
}
.title-big {
  font-size: 44px;
  line-height: 54px;
  color: #f9f9f9;
}
@media (max-width: 768px) {
  .title-big {
    font-size: 26px;
    line-height: 36px;
    color: #f9f9f9;
  }
}
.title {
  font-size: 28px;
  line-height: 38px;
  color: #f9f9f9;
}
@media (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 34px;
    color: #f9f9f9;
  }
}
.title-small {
  font-size: 28px;
  line-height: 38px;
  color: #f9f9f9;
}
@media (max-width: 768px) {
  .title-small {
    font-size: 22px;
    line-height: 32px;
    color: #f9f9f9;
  }
}
.link {
  font-size: 18px;
  line-height: 28px;
  color: #f9f9f9;
  text-decoration: underline;
  cursor: pointer;
}
